@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif !important;
}
.overlayer {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: #0000009f;
}
body {
  background-color: #e2e2e2;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
.carousel {
  overflow-x: hidden;
}
.slider {
  position: relative;
  display: flex;
  /* justify-content: flex-start; */
  transition: all 0.4s ease-in-out;

  /* background-image: linear-gradient(#ffebeb00, #fff) !important; */
}
.slid-images {
  max-width: 100%;
  height: 100%;
}

#prev,
#next {
  position: absolute;
  background: none;
  border: none;
  z-index: 999;
  width: 50px;
  height: 50px;
  top: 10%;
  cursor: pointer;
}
#prev {
  left: 5%;
}
#next {
  right: 5%;
}

.slider-btn:hover {
  border: 1px solid black;
  outline: 2px solid #fff;
}
/* Start header style by shayan */
.header {
  background-color: #131921;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1000;
}
.top-header {
  display: flex;
  justify-content: space-evenly;
  max-width: 98%;
}
.header-logo {
  width: 113px;
  height: 60px;
  margin: 5px 8px;
}
.br-box {
  border: 2px solid transparent;
}
.br-box:hover {
  border: 2px solid white;
}

.header-logo a img {
  height: 52px;
  width: 113px;
  object-fit: cover;
}
/*-------------------*/
.header-location {
  width: auto;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 5px 8px;
}
.location-cont {
  display: flex;
  align-items: flex-end;
}
.location-cont i {
  margin: 0px 10px 2px 0px;
  color: #fff;
}
/*-------------------*/
.search {
  display: flex;
  width: 400px;
  height: 60px;
  padding: 10px 4px 10px 3px;
  flex-grow: 1;
}
.header-selector {
  border-radius: 4px 0px 0px 4px;
  border: none;

  background-color: #e6e6e6;
}
.search input {
  border: none;
  flex-grow: 1;
  flex-shrink: 2;
  max-width: 720px;
}
.search-icon {
  background-color: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 6px 0px 6px;
  border-radius: 0px 4px 4px 0px;
}
.language {
  display: flex;
  align-items: center;
  padding: 0px 9px 5px;
  margin: 5px 8px;
}
.language span img {
  width: 21px;
  height: 16px;
  margin: 0px 2px 1px 0px;
}
.language div {
  font-size: 18px;
  color: white;
}
.language span i {
  font-size: 10px;
  color: white;
  margin: 0px 2px 1px 0px;
  margin: 2px 0px 0px 2px;
}
/* language-dropbox => cena */
.language-dropbox {
  top: 60px;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  display: none;
}

.language-title {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.language-title > p {
  font-size: 0.9rem;
  padding-right: 10px;
}
.language-title > a {
  font-size: 0.7rem;
  color: rgb(160, 182, 255);
  text-decoration: underline;
}
.current-language {
  display: flex;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
.lang-name {
  font-size: 0.9rem;
}
.lang-name:hover {
  color: orangered;
  text-decoration: underline;
}
.drop-languages {
  display: flex;
  align-items: center;
  padding: 7px 0px;
}
.drop-languages:last-child {
  border-bottom: 1px solid rgb(203, 203, 203);
  padding-bottom: 10px;
}
.language-footer-title {
  display: flex;
  align-items: center;
  font-size: 0.7rem !important;
}
.language-footer-title > p {
  margin-top: 5px;
  font-size: 0.8rem !important;
  margin-right: 10px;
}
.language-footer-title > a {
  font-size: 0.6rem !important;
  text-decoration: underline;
  color: rgb(160, 182, 255);
}
.language-footer-title > a:hover {
  color: orangered !important;
}
.language-footer-info {
  margin-top: 10px;
  font-size: 0.8rem !important;
}
.language-footer-info > a {
  display: block;
  text-align: right;
  padding-top: 5px;
  color: rgb(160, 182, 255);
  border-bottom: 1px solid rgb(203, 203, 203);
}
.language-comprando-footer {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}
.language-comprando-footer > img {
  margin-right: 5px;
}
.language-comprando-footer > p {
  font-size: 0.8rem;
}
.language-Cambiar {
  padding-top: 15px;
  padding-left: 30px;
}
.language-Cambiar > a {
  font-size: 0.8rem;
  color: rgb(160, 182, 255);
}
.language:hover .language-dropbox {
  display: block;
}

.sign-in {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5px 8px;
}
.sign {
  display: inline;
}
.sign div {
  font-size: 12px;
  color: white;
}
.sign span {
  font-size: 18px;
  color: white;
}
.sign span i {
  font-size: 12px;
  color: white;
  margin-left: 5px;
}
/* account dropbox => cena */
.account-signin-dropbox {
  top: 60px;
  right: 20px;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  display: none;
}
.signin-area {
  text-align: center;
  padding: 5px 0px;
}
.signin-area > button {
  text-align: center;
  padding: 7px 25px;
  width: 140px;
  border-radius: 5px;
  border: none;
  background: rgb(247, 247, 0);
}
.signin-area > p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(203, 203, 203);
}
.signin-area > p > a {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(160, 182, 255);
  text-decoration: underline;
}
.sign-in-configs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.account-section-1 {
  padding: 10px;
}
.account-section-1 p:nth-child(1) {
  font-size: 1.2rem !important;
}
.account-section-1 > p {
  padding-bottom: 5px;
}
.account-section-2 {
  padding: 10px;
  border-left: 1px solid rgb(203, 203, 203);
}
.account-section-2 p:nth-child(1) {
  font-size: 1.2rem !important;
}
.account-section-2 > p {
  padding-bottom: 5px;
}
.sign-in:hover .account-signin-dropbox {
  display: block;
}

/*----------------------*/
.buttom-header {
  max-height: 40px;
  display: flex;
  justify-content: flex-start;
  background-color: #0f110f;
}
.buttom-header div:first-child {
  margin-left: 25px;
}
.buttom-item {
  margin: 5px 0px 6px;
  padding: 8px 9px;
  color: white;
}
/* End header style by shayan */

/* burger menu */
.show-burger {
  transform: translate(0) !important;
}
.burger {
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  z-index: 10000;
  background-color: #fff;
}
.burger-user-info {
  background-color: #2a3a52;
  font-size: 20px;
  font-weight: bold;
  padding: 5% 0;
  text-align: center;
}
.user-info-link {
  color: #fff;
}
.user-profile {
  width: 25px;
  height: 25px;
}
.menu-section-title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 50px;
}
.menu-section-item {
  padding: 3% 0;
  transition: all 0.5s ease;
  padding: 10px 50px; /*hosein*/
}
.menu-section-item:hover {
  background-color: #d8d7d7;
}
.menu-section-item-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.menu-btn {
  width: 20px;
  height: 20px;
}
.see-more {
  display: flex;
  align-items: center;
}
.see-more-txt {
  margin-right: 10px;
}
.menu-section-help-links {
  display: flex;
  align-items: center;
}
.help-btn {
  margin-right: 10px;
}
.blur {
  background: linear-gradient(#00000015, #000000a8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.close-menu-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5%;
  left: 25%;
  z-index: 1000;
  display: none;
}

.main-box {
  display: inline-block;
  width: 23%;
  height: 400px;
  background-color: #fff;
  padding: 1%;
  margin-right: 1.7%;
  margin-bottom: 20px;
}
.shop-img {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}
.box-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.shop-link {
  color: rgb(37, 37, 250);
}
