@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  text-decoration: none;
  color: black;
}
.container {
  width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
}
.slider {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;

  /* background-image: linear-gradient(#ffebeb00, #fff) !important; */
}
.slid-images {
  max-width: 100%;
  height: 100%;
}

#prev,
#next {
  background: none;
  border: none;
  z-index: 999;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  cursor: pointer;
}
#prev {
  left: 5%;
}
#next {
  right: 5%;
}

.slider-btn:hover {
  border: 1px solid black;
  outline: 2px solid #fff;
}
/* Start header style by shayan */
.header {
  background-color: #131921;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1000;
}
.top-header {
  display: flex;
  justify-content: space-evenly;
}
.header-logo {
  width: 113px;
  height: 60px;
  margin: 5px 0px;
}
.br-box {
  border: 2px solid transparent;
}
.br-box:hover {
  border: 2px solid white;
}

.header-logo a img {
  height: 52px;
  width: 113px;
  object-fit: cover;
}
/*-------------------*/
.header-location {
  width: auto;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
}
.location-cont {
  display: flex;
  align-items: flex-end;
}
.location-cont i {
  margin: 0px 10px 2px 0px;
  color: #fff;
}
/*-------------------*/
.search {
  display: flex;
  width: 400px;
  height: 60px;
  padding: 10px 4px 10px 3px;
}
.header-selector {
  border-radius: 4px 0px 0px 4px;
  border: none;

  background-color: #e6e6e6;
}
.search input {
  border: none;
}
.search-icon {
  background-color: #febd69;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 6px 0px 6px;
  border-radius: 0px 4px 4px 0px;
}

.country {
  display: flex;
  align-items: center;
}
.country select {
  border: none;
  background-color: white;
}
/* End header style by shayan */

/* burger menu */
.show-burger{
  transform: translate(0) !important;
}
.burger {
  transform: translateX(-100%);
  transition: all .4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  z-index: 10000;
  background-color: #fff;
  display: none;
}
.burger-user-info {
  background-color: #2a3a52;
  font-size: 20px;
  font-weight: bold;
  padding: 5% 0;
  text-align: center;
}
.user-info-link {
  color: #fff;
}
.user-profile {
  width: 25px;
  height: 25px;
}
.menu-section {
  padding: 5% 10%;
}
.menu-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}
.menu-section-item {
  padding: 3% 0;
  transition: all 0.5s ease;
}
.menu-section-item:hover {
  background-color: #d8d7d7;
}
.menu-section-item-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.menu-btn {
  width: 20px;
  height: 20px;
}
.see-more {
  display: flex;
  align-items: center;
}
.see-more-txt {
  margin-right: 10px;
}
.menu-section-help-links {
  display: flex;
  align-items: center;
}
.help-btn {
  margin-right: 10px;
}
