@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
.container {
  width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
}
.slider {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
  /* background-image: linear-gradient(#ffebeb00, #fff) !important; */
}
.slid-images {
  max-width: 100%;
  height: 100%;
}

#prev,
#next {
  background: none;
  border: none;
  z-index: 999;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  cursor: pointer;
}
#prev {
  left: 5%;
}
#next {
  right: 5%;
}

.slider-btn:hover {
  border: 1px solid black;
  outline: 2px solid #fff;
}
/* start header style by shayan */
.header {
  background-color: #131921;
}
.top-header {
  display: flex;
  justify-content: space-evenly;
}
.nav-left,
.nav-fill,
.nav-right {
  display: flex;
  align-items: center;
  align-content: space-between;
}
.header-logo {
  width: 113px;
  height: 60px;
  margin: 5px 0px;
}
.br-box {
  border: 2px solid transparent;
}
.br-box:hover {
  border: 2px solid white;
}

.header-logo a img {
  height: 52px;
  width: 113px;
  object-fit: cover;
}
.header-location {
  width: auto;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
}
.location-cont {
  display: flex;
  align-items: flex-end;
}
.location-cont i {
  margin: 0px 10px 2px 0px;
}
