@media (max-width: 1400px) {
  .main-box {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 40px;
  }
  .main-boxis {
    top: 60%;
  }
}
@media (max-width: 1281px) {
  .main-box {
    width: 43%;
    margin-right: 6.5%;
    margin-bottom: 40px;
  }
  .burger {
    width: 33%;
  }
  .main-boxis {
    top: 50%;
  }
}
@media (max-width: 1025px) {
  .menu-section-title {
    font-size: 17px;
    padding: 20px 20px;
  }
  .main-boxis {
    top: 40%;
  }
}
@media (max-width: 801px) {
  .burger {
    width: 59%;
  }
  .main-boxis {
    top: 35%;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
